

body {
	background-color: #242520;
	font-family: sans-serif;
	margin-top: 0px;
}

p{
	font-size:10px;
}

header{
	text-align: left;
	
	margin-right: 20px;
}

header ul li{
	display: inline;
}

.header2 {
	position: bottom;
	bottom: 0px;
	margin-bottom: 0px;
}

.header h1 {
	font-size: 50px;
	color: tan;
}

.header h2 {
	font-size: 25px;
}

.links {
	font-size: 15px;
}

.intro {
	text-align: left;
}

h4{
	font-size: 15px;
}

.jumbotron {
	background-color: #242520;
	border-radius: 5px;
	color: grey;
	margin-left: 200px;
	margin-right: 200px;
}

a {
	color: white;
	/*-webkit-animation-duration: 3s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: 2;*/
    font-size: 15px;
    cursor: crosshair;
}

ul li{
	color: red;
}

ul li span {
	color: grey;
}


#hover {
	display: none;
}

#list:hover + #hover{
	display: block;
}

#edu_button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    color: tan;
}

#edu_button:hover {
	color: red;
}

#his_button{
	background-color: transparent;
	border: none;
	font-size: 20px;
	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    color: tan;
}

#his_button:hover {
	color: red;
}

.hidden>div{
	display: none;
}

.visable>div{
	display: block;
}




/*------------------------------------------footer------------------------------*/


\@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


